POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=test_task_keitaro
KEITARO_API_URL="https://tlgk.host/admin_api/v1"
KEITARO_API_KEY=your-api-key-here
KEITARO_DEFAULT_DOMAIN_ID=181121
KEITARO_DEFAULT_GROUP_NAME=FORTESTS
KEITARO_DEFAULT_SOURCE_NAME=FORTESTS